*{
    border: none;
    text-decoration: none;
    padding: none;
    box-sizing: border-box;
    margin: none;
}

@media screen and (max-width: 768px) {
    .kiriko{
        width: auto;
        height: 400px;
    }
}